@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto+Condensed&display=swap');
body {
  padding: 0;
  margin: 0;
}
*{
  font-family:'Roboto Condensed', sans-serif !important;
}
a{
  text-decoration: none;
}
header {
  height: 60px;
  line-height: 60px;
  display: flex;
  font-size: 24px;
  width: 100%;
  color: #5f5f5f;
  font-family: 'Roboto Condensed', sans-serif ;
  background: #3A61A2;
  z-index: 1000;
  position: fixed;
  justify-content:space-between
}
.logout-btn button{
  color:#fff;
  background-color: transparent;
  font-size: 18px;
  padding:0 20px;
  border:none;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logout-btn svg{
  fill:#fff;
  transform:scale(0.8)
}
.c-logo img{
  margin-top: 5px;
  height: 48px !important;
  margin-right: 5px;
}
.c-flex{
  justify-content: center;
  display: flex;
  flex-direction: column;
  color:#fff;
  font-size: 14.5px;
  height:60px;
}
.c-flex div{
  height:25px;
  line-height: 25px;
}
.sidebar {
  border-right: 1px solid #aaa;
  left: 0;
  bottom: 0;
  top:60px;
  width:260px;
  position: fixed;
  z-index: 100;
  padding: 0 10px;
  color: #005b85;
  background: #fff!important;
  box-sizing:border-box
 }
 

.item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 28px;
  padding-right: 90px;
  padding-left: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transform: translatey(20px);
  background: #f1f1f1;
  width:100%
}
.sidebar svg {
  color: #fff;
  padding-right: 4px;
  margin-right: 15px;
  fill:#fff;
  transform:scale(0.8);
}
hr {
  margin-top: 32px;
  border: none;
  background: #ddd;
  height: 1px;
}
.side-container {
  margin-top: 12px;
  border-radius: 4px;
  overflow: hidden;
}
.side-container .c {
  display: flex;
  align-items: center;
  font-size: 17px;
  height: 28px;
  background-color: #3A61A2;  
  margin-top: 10px;
  line-height: 28px;
  border-radius: 6px;
  padding:12px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;

}
.side-container a{
  color: #fff!important;
}  img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {display: none;}
input{
  box-sizing: border-box;
}
.content {
  padding: 20px;
  color: #444;
  padding-top: 80px;
  box-sizing: border-box;
  min-height:calc(100vh - 60px);  
  padding-bottom: 40px;
  background-color: rgb(233,233,233);
}
.body-content h1 {
  font-weight: normal;
  font-size: 30px;
  color: #777;
  font-family: sans-serif;
}

.body-content {
  left: 280px;
  padding: 20px;
  position: absolute;
  margin-top: 60px;
  color: #444;
  box-sizing: border-box;
  width:calc(100% - 280px);
  min-height:calc(100vh - 60px);
  padding-bottom: 40px;
  background-color: rgb(233,233,233);
}
.welcome {
  border: 1px solid #519ec2;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px 50px;
  line-height: 20px;
  background: #ededed;
  margin-bottom: 10px;
}
a {
  color: #005b85;
}

.sidebar a {
  text-decoration: none;
}
.tag {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.info {
  width: max-content;
  font-size: 14px;
  background-color: #e5f3fe;
  padding: 2px 2px;
  float: left;
}
.ans {
  display: flex;
  font-size: 14px;
  background: #fff;
  padding: 2px 0px;
  transform: translate(5px, 0);
  text-indent: 5px;
  width: 300px;
  border: 1px solid #cfcfcf;
}

.cnt-tab{
  padding-right:20px;
  padding-left:20px;
  margin-top: 25px!important;
}
.a {
  margin-top: 5px;
}
.pwd {
  -webkit-text-security: disc;
}
.ans,
.a a {
  display: inline-block;
}
.change {
  font-size: 13px;
  margin-left: 10px;
}
.tag a {
  text-decoration: underline;
}
.disabled {
  pointer-events: none;
  text-decoration: none;
  color: #aaa;
  cursor: text;
}
.newadmin form {
  width: 200px;
  border: 1px solid #aaa;
  padding: 20px 10px;
  padding-left: 15px;
  border-radius: 5px;
  background: #f6f6f6;
  margin-top: 10px;
}
.newadmin input {
  height: 20px;
  text-indent: 5px;
  width: 180px;
  margin-top: 10px;
}
.newadmin .btn {
  text-indent: 0;
  height: 28px;
  width: 188px;
  background: #005b85;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}
fieldset {
  padding-top: 20px;
  padding-bottom: 20px;
}
a.button {
  padding: 10px 30px;
  color: #fff;
  background-color: #306b86;
  text-decoration: none;
  border-radius: 3px;
}
a.button:hover {
  background: #005b85;
}
.form {
  display: flex;
}
.r {
  margin-top: 10px;
  font-family: sans-serif;
}
.left {
  width: calc(70% - 30px);
}
.r .input {
  height: 30px;
  width: calc(100% - 30px);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  border: 1px solid #aaa;
}
.right button,
.right input {
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 20px;
  color: #fff;
  background: cornflowerblue;
  border: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 4px;
}
.right {
  height: auto;
  padding-bottom: 20px;
  width: calc(30% - 20px);
  margin-left: 10px;
  background: #fff;
  border: 1px solid #aaa;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
#ama_image {
  margin-top: 20px;
}
#ama_content:hover {
  background: #070d64;
}
.or-clr{
  background-color: #F6B771!important;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  padding: 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #215d80;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #063c5c;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.r {
  margin-top: 20px;
}
.editimage {
  display: none;
}
label:hover .editimage {
  display: block;
  color: #fff;
  position: absolute;
  left: 20px;
  margin-top: -200px;
  background: rgba(0, 0, 0, 0.5);
}
.mobile-home{
  display: none;
}
.mobile-sidebar{display: none;}

@media (max-width:768px){
  
.mobile-sidebar {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #3a61a2;
  overflow-x: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  padding-top: 60px;
  z-index: 1000;
}

.mobile-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: block;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 1px;
  padding:6px 15px;
}
.sel-nav{
  background-color: #fff;
  color: #3a61a2 !important;
}
.sel-nav svg{
  fill:#3a61a2;
}

.mobile-sidebar a:hover {
  color: #f1f1f1;
}

.mobile-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

  .no-padding{
    padding: 0!important;
    padding-top: 10px!important;
  }
  .mobile-home{
    display: block;
  }
  .logout__btn{
    display: none;
  }
  .fullSidebar{
      width:100%;
  }
  .noSidebar{
    display: none;
  }
  .body-content{
    width:100%;
    left:0;
    padding:10px;
  }
  .no-sidebar .cnt-tab{
    padding: 0;
  }
  .no-sidebar .card-heading{
    padding-right:20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .no-sidebar #tabs ul li{
    padding:0;
    margin: 5px;
   }
   
   .no-sidebar #tabs ul{
    margin-top: 10px!important;
   }
   .no-sidebar #tabs span{
    padding:0;
    flex:1;
    font-size: 14px;
    padding-right:10px
  }
  
  .side-container>a{
    display:flex;
    justify-content: center;

  }
  .side-container svg{
    margin:0;
    padding:0;
    transform:scale(0.9)
  }
.side-container .c {
  box-shadow:0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  padding: 18px;
width:200px;
border-radius: 15px;
text-align: center;
}
.side-container>a:nth-child(3){
  margin-top: 10px;
}
.side-container .c span{
  flex:1;
  margin: auto;
}
}
@media (max-width:370px){
  .no-sidebar #tabs ul{
    justify-content:center;
  }
  .no-sidebar #tabs span{
    padding:0;
    flex:1;
    font-size: 12px;
    padding-right:5px
  }
  .no-sidebar #tabs svg{
    transform:scale(0.6);
    margin:0
  }
  .no-sidebar #tabs ul li{
    padding:0;
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
   }
}
