/*kunal Dongre*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  flex: 1;
  background-color: #e8ebec;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

header {
  height: 42px;
  background-color: #066ead;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
}

header button {
  border: none;
  background-color: transparent;
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
}
header button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.content {
  padding: 15px;
}
header .right-menu {
  display: flex;
  color: #fff;
  padding: 0 5px;
}
.mb15 {
  margin-bottom: 15px;
}
.wt-bg {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #fff;
}
.centerSpin {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.error-message {
  padding: 15px 20px;
  border: 1px solid #f6685e;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: rgb(255, 0, 0, 0.1);
  color: #f6685e;
}
.menu-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.header-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}
td,
th {
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
th {
  background-color: rgba(1, 28, 53, 0.1);
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}
button.create:hover {
  background-color: #0f6699;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}
.edit {
  width: 50px;
}
.edit button {
  border: none;
  background-color: rgb(24, 104, 24);
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer !important;
}
.edit-head {
  text-align: center;
}
.delete button {
  background-color: rgb(177, 0, 0);
}
.edit button svg {
  height: 20px;
}
input.input,
.input {
  padding: 10px 12px;
  width: 400px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  outline: none;
  background: #fff;
}

button.create {
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: #1174ad;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}
#button:disabled {
  opacity: 0.2;
}

td textarea {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  height: 30px;
  box-sizing: border-box;
  width: 200px;
}
table td {
  max-width: 200px !important;
}

h1.heading {
  font-size: 24px;
  font-weight: normal;
  color: #000;
}
h2.heading {
  font-size: 17px;
  font-weight: normal;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.path-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: -15px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
form {
  padding: 20px;
  background-color: #f1f3f6;
}
select {
  font-size: 16px;
  padding: 10px 12px;
  border: none;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
option {
  background: #fff;
}
.container-x {
  margin-top: 10px;
}
