@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
#tabs ul{
    width:100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
}
#tabs ul li a{
    color: #fff ;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
#tabs ul li{
    margin:0 10px;
    padding:1px 5px;
    background: #3A61A2;
    border-radius: 6px;
}
#tabs span{
    padding-right: 30px;
    padding-left:10px;
    text-align: center;
}
#tabs svg{
    fill:#fff;
    transform: scale(0.7);
    margin-right: 10px;
}
#tabs ul li.ui-tabs-active{
    background-color: #fff;   
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.4) 0px 1px 3px 1px; 
}
#tabs ul li.ui-tabs-active a{
    color: #3A61A2 !important;
}
#tabs ul li.ui-tabs-active svg{
    fill: #3A61A2!important;
}
.cnt-tab{
    margin-top: 20px;
}
.tab-card{
    background-color: #fff;
}.alert-match-status-text {
    padding: 15px 15px;
    box-sizing: border-box;
    height: 80px;
    text-align: center;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    border-radius: 7px;
    display: table;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-card{
    width:100%;
    height:118px;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    
  }
  .c-date{
    background-color: #3A61A2;
    width:200px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
.c-month{
    font-family: 'Open Sans'!important;
  }
  .c-time{
    font-family: 'Open Sans'!important;

  }
  .c-main{
    flex:1;
    padding:15px;
  }
  .mt-7{
    height: 7px;
  }
 
.card-heading{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #3A61A2;
    font-size: 14px!important;
    margin: 0 0 0!important;
}
.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
    color: #676767;
    margin: 0 0 0!important;
    font-size: 13px!important;
}
@media (min-width: 768px)
{  .c-date {
      width: 25%;
  }}
  @media (min-width: 992px){
.c-date {
    width: 16.66666667%;
}
   
  }

  @media (max-width: 1064px)
  { 
    .c-card{
        display: block;
        width:100%;
        padding-bottom: 20px;
    }
    .c-card>div{
        width: 100%;
    }
    .c-date{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:10px;
        font-size: 14px;
    }
   
    .c-date>div{
        margin-left: 2px;
        margin-right: 2px;
    }
    .c-date{
        margin-left:-2px;
        margin-right:-2px
    }
    }